<div class="container wrapper">
    <div class="row">
      <!-- Project table -->
      <div class="col-md-12">
        <div class="inner">        
          <h3 class="my-0 mr-md-auto font-weight-normal">
            Project
            <div style="text-align: right;"><a class="btn btn-outline-primary" routerLink="/project-add">Add Project</a></div></h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectsList">
                <td>{{project.code}}</td>
                <td>{{project.name}}</td>
                <td>{{project.dueDate}}</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/project-edit/', project.id]">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="delete(project)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
  