<form [formGroup]="updateUserForm" (ngSubmit)="submitForm()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>Edit User</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter your name">
                </div>
              </div>
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" formControlName="username" placeholder="Enter your username">
                </div>
              </div>
              <div class="col-sm-8">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Enter your email" autocomplete="email">
                  </div>
                </div>
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" formControlName="status">
                  <option value="A">Active</option>
                  <option value="I">Inactive</option>
                  <option value="B">Blocked</option>
                </select>
              </div>
            </div><!--/.row-->
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-secondary" [routerLink]="['/user/user-list']"><i class="fa fa-ban"></i> Cancel</button>
            <button type="submit" class="btn btn-sm btn-danger pull-right" (click)="delete()"><i class="fa fa-trash-o"></i> Delete</button>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</form>