<form [formGroup]="addUserForm" (ngSubmit)="submitForm()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>New User</h3>
          </div><!--/.card-header-->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter your name">
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" formControlName="username" placeholder="Enter your username">
                </div>
              </div><!--/.col-->
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Enter your email" autocomplete="email">
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" formControlName="status">
                  <option value="A">Active</option>
                  <option value="I">Inactive</option>
                  <option value="B">Blocked</option>
                </select>
              </div><!--/.col-->
            </div><!--/.row-->
          </div><!--/.card-body-->
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/user/user-list']"><i class="fa fa-ban"></i> Cancel</button>
          </div><!--/.card-footer-->
        </div><!--/.card-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</form>