<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveProjects}}</div>
          <div>Active Projects</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-success" role="progressbar" [style.width]='percActiveProjects'></div>
          </div>
          <small class="text-muted">You have {{qtdProjects}} projects in total.</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveTasks}}</div>
          <div>Active Tasks</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-info" role="progressbar" [style.width]='percActiveTasks'></div>
          </div>
          <small class="text-muted">Yout have {{qtdTasks}} tasks in total.</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdOverdueTasks}}</div>
          <div>Overdue Tasks</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-warning" role="progressbar" [style.width]='percOverdueTasks'></div>
          </div>
          <small class="text-muted">You have {{qtdActiveTasks}} active tasks in total.</small>
        </div>
      </div>
    </div><!--/.col-->
    
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveUsers}}</div>
          <div>Active Users</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-danger" role="progressbar" [style.width]='percActiveUsers'></div>
          </div>
          <small class="text-muted">You have {{qtdUsers}} users in total.</small>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Projects Overview
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Project</th>
                <th class="text-center">Percentage</th>
                <th class="text-center">Due Date</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectsList">
                <td>{{project.name}}</td>
                <td class="text-center">
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>{{project.percDoneTasks}}</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">{{project.qtdDoneTasks}} - {{project.qtdTasks}}</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" [style.width]="project.percDoneTasks"></div>
                  </div>
                </td>
                <td class="text-center">{{project.dueDate | date: 'MM/dd/yyyy'}}</td>
                <td class="text-center">
                  <span class="badge badge-info" *ngIf="project.status == 'A'">Active</span>
                  <span class="badge badge-success" *ngIf="project.status == 'D'">Done</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
