<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveProjects}}</div>
          <div>Active Projects</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-success" role="progressbar" [style.width]='percActiveProjects'></div>
          </div>
          <small class="text-muted">You have {{qtdProjects}} projects in total.</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveTasks}}</div>
          <div>Active Tasks</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-info" role="progressbar" [style.width]='percActiveTasks'></div>
          </div>
          <small class="text-muted">Yout have {{qtdTasks}} tasks in total.</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdOverdueTasks}}</div>
          <div>Overdue Tasks</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-warning" role="progressbar" [style.width]='percOverdueTasks'></div>
          </div>
          <small class="text-muted">You have {{qtdActiveTasks}} active tasks in total.</small>
        </div>
      </div>
    </div><!--/.col-->
    
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">{{qtdActiveUsers}}</div>
          <div>Active Users</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-danger" role="progressbar" [style.width]='percActiveUsers'></div>
          </div>
          <small class="text-muted">You have {{qtdUsers}} users in total.</small>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Projects Overview
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Project</th>
                <th class="text-center">Qtd. Tasks</th>
                <th>Percentage</th>
                <th class="text-center">Due Date</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>Pilot Project</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">12</td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">30/06/2019</td>
                <td class="text-center">A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
