<form [formGroup]="addProjectForm" (ngSubmit)="submitForm()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>New Project</h3>
          </div><!--/.card-header-->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="code">Code</label>
                  <input type="text" class="form-control" id="code" name="code" formControlName="code" placeholder="Enter a project code">
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter a project name">
                </div>
              </div><!--/.col-->
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="dueDate">Due Date</label>
                  <input type="text" class="form-control" id="dueDate" name="dueDate" formControlName="dueDate" placeholder="Enter a project due date">
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea id="description" name="description" formControlName="description" class="form-control" placeholder="Enter a project description" rows="5"></textarea>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="owner">Owner</label>
                  <input type="text" class="form-control" id="owner" name="owner" formControlName="owner" placeholder="Enter a project owner">
                </div>
              </div><!--/.col-->
              <div class="col-sm-3">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" formControlName="status">
                      <option value="A">Active</option>
                      <option value="D">Done</option>
                    </select>
                  </div>
                </div><!--/.col-->
            </div><!--/.row-->
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/project/project-list']"><i class="fa fa-ban"></i> Cancel</button>
          </div><!--/.card-footer-->
        </div><!--/.card-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</form>