<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-10"><h3>Projects</h3></div>
                <div class="col-md-2 right">
                  <a class="btn btn-primary btn-block" [routerLink]="['/project/project-add']"><i class="fa fa-user-o"></i>&nbsp;New Project</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Due Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projectsList">
                    <td>{{project.code}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.dueDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
</div>
