<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10"><h3>Projects</h3></div>
            <div class="col-md-2 right">
              <a class="btn btn-primary btn-block" [routerLink]="['/project/project-add']"><i class="fa fa-folder-o"></i>&nbsp;New Project</a>
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.card-header-->
        <div class="card-body">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Due Date</th>
                <th>Owner</th>
                <th class=" text-center">Status</th>
                <th class=" text-center">Tasks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectsList">
                <td><a [routerLink]="['/project/project-edit/', project.id]">{{project.code}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.dueDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{project.owner}}</td>
                <td class="text-center" >
                  <span class="badge badge-info" *ngIf="project.status == 'A'">Active</span>
                  <span class="badge badge-success" *ngIf="project.status == 'D'">Done</span>
                </td>
                <td class="text-center"><a [routerLink]="['/task/task-list']"><i class="fa fa-tasks"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div><!--/.card-body-->
      </div><!--/.card-->
    </div><!--/.col-->
  </div><!--/.row-->
</div>
