<form [formGroup]="addProjectForm" (ngSubmit)="submitForm()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>New Project</h3>
          </div><!--/.card-header-->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="code">Code</label>
                  <input type="text" class="form-control" id="code" name="code" formControlName="code" 
                    placeholder="Enter a project code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                  <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                    <div *ngIf="f.code.errors.required">Code is required</div>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="name" 
                    placeholder="Enter a project name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="dueDate">Due Date</label>
                  <input type="date" class="form-control" id="dueDate" name="dueDate" formControlName="dueDate" 
                    placeholder="Enter a project due date" [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }">
                  <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
                    <div *ngIf="f.dueDate.errors.required">Due Date is required</div>
                  </div>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea id="description" name="description" formControlName="description" class="form-control" 
                    placeholder="Enter a project description" rows="5"></textarea>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="owner">Owner</label>
                  <select class="form-control" id="owner" name="owner" formControlName="owner" 
                    [ngClass]="{ 'is-invalid': submitted && f.owner.errors }">
                    <option *ngFor="let user of userList" [ngValue]="user.id">{{user.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
                    <div *ngIf="f.owner.errors.required">Owner is required</div>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" name="status" formControlName="status" 
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                    <option value="A">Active</option>
                    <option value="D">Done</option>
                  </select>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Status is required</div>
                  </div>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/project/project-list']"><i class="fa fa-ban"></i> Cancel</button>
          </div><!--/.card-footer-->
        </div><!--/.card-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</form>